<nav>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="/login">Login</a></li>
  <li><a routerLink="/welcome">Welcome</a></li>
  <li><a routerLink="/users">users</a></li>
</nav>

<!-- <ul>
  
</ul> -->
<!-- <app-user></app-user> -->

<div class="container my-2">
  <input type="number" [(ngModel)]="filter" placeholder="filter user by age">
  <p>{{filter}}</p>
  <h5>List of Users</h5>
  <ul *ngFor="let user of users">
    <ul *ngIf="user.age===filter">
      <span>{{user.name}}</span> &nbsp;
      <span>{{user.age}}</span> &nbsp;
      <span>{{user.email}}</span>
    </ul>
  </ul>
</div>

<router-outlet></router-outlet>